#data-container{
    width: 60%;
    margin-top: 1rem;
}

header{
    width: 60%;
    height: 10rem;
    background-color: red;
}

.document {
    /*margin: 2rem 0;*/
    border-bottom: 2px solid black;
    padding: 1rem 0.5rem;
    background-color: white;
    min-height: 5rem;
    word-wrap: break-word
}

a{
    text-decoration: none;
}

img{
    height: 5rem;
}

.content{
    width: 100%;
}

@media screen and (max-width: 750px){
    header, #data-container{
        width: 90%;
    }
}