<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
<!--    <%- JSON.stringify(data) %>-->
<header class="auto-margin text-center">
    <span class="title">URL-SHORTENER</span>
</header>
<nav id="buttons" class="contained flex auto-margin">
    <div class="nav-button text-center auto-margin">
        <span class="link-text" id="yourLinks">Your Links</span>
    </div>
    <div class="nav-button text-center auto-margin">
        <span class="link-text" id="createLink">Create Link</span>
    </div>
</nav>
<section id="data-container" class="auto-margin">
    <% for(let i=0; i< data.length; i++) {%>
    <div class="document flex">
        <img src="<%= JSON.stringify(data[i].favicon).slice(1, -1) %>/favicon.ico"
             alt="No Favicon">
        <div class="margin-left-1 flex-column">
            <p class="content">
                <b>Full Link:</b>
                <a href="<%- JSON.stringify(data[i].full).slice(1, -1) %>">
                    <%- JSON.stringify(data[i].full).slice(1, -1); %>
                </a>
            </p>
            <p class="content">
                <b>Short Link:</b>
                <%= JSON.stringify(data[i].short).slice(1, -1); %>
            </p>
        </div>
    </div>
    <%} %>
</section>

<section id="create-link" class="auto-margin">
</section>

<script>
    const createLink = document.querySelector("#createLink");
    const yourLinks = document.querySelector("#yourLinks");
    const yourLinkContent = document.querySelector("#data-container");
    // Hide-Show Create Link or View Your Links
    createLink.addEventListener("click", ()=>{
        yourLinkContent.style.display = "none"
    });
    yourLinks.addEventListener("click", ()=>{
        yourLinkContent.style.display = "block"
    });
</script>
</body>
</html>