<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<head>
    <style>
        #myButton{
            border: 1px solid black;
            background-color: lightgrey;
            cursor: pointer;
            width: fit-content;
            padding: 5px 10px;
        }
        #myButton:hover{
            background-color: grey;
        }
    </style>
</head>
<div id="myButton">Hello</div>
<script>
    const button = document.getElementById("myButton");
    button.addEventListener("click", ()=>{
        console.log("clicked")
    })
</script>
</body>
</html>