<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body class="flex">

<section class="loginbox auto-margin border-radius-1">
    <div class="title-container text-center">
        <span id="loginButton"
              class="title title-active border-radius-1">
            Login
        </span>
        <span id="registerButton"
              class="title border-radius-1">
            Register
        </span>
    </div>
    <form id="login" action="#" method="post">
        <label for="username">Username: </label>
        <input type="text"
               name="username"
               id="username"
               placeholder="Username"
        >
        <br>
        <label for="password">Password: </label>
        <input type="password"
               name="password"
               id="password"
               placeholder="Password"
        >
        <button type="submit">Login</button>
    </form>
    <form action="/posts/register" id="register" method="post">
        <label for="register-name">Your Name: </label>
        <input type="text"
               name="registerName"
               id="register-name"
               placeholder="Your Name"
        >
        <br>
        <label for="username">Username: </label>
        <input type="text"
               name="registerUsername"
               id="register-username"
               placeholder="Username"
        >
        <br>
        <label for="password">Password: </label>
        <input type="password"
               name="registerPassword"
               id="register-password"
               placeholder="Password"
        >
        <button type="submit">Register</button>
    </form>
</section>
<!-- THe following script allows switching between login and register -->
<script>
    const form1 = document.getElementById("login");
    const form2 = document.getElementById("register");
    const loginButton = document.getElementById("loginButton");
    const regButton = document.getElementById("registerButton");

    regButton.addEventListener("click", ()=>{
        form1.style.display = "none";
        loginButton.classList.remove("title-active");
        regButton.classList.add("title-active");
        form2.style.display = "flex";
    });
    loginButton.addEventListener("click", ()=>{
        form2.style.display = "none";
        regButton.classList.remove("title-active");
        loginButton.classList.add("title-active");
        form1.style.display = "flex"
    });
    form2.style.display = "none";
</script>
</body>
</html>